$blue               : #3f51b5;
$white              : #fff;
$very-light-grey    : #e4e7eb;
$light-grey         : #f9fafc;
$grey-blue          : #66788a;
$pale-grey          : #f6f9fd;
$water-blue         : #1665d8;
$dark-grey          : #212529;
